@import '~antd/dist/antd.css';

.App {
	background: rgba(16, 30, 48, 0.9);
	color: #9bb5cc;
}

table{
	table-layout: fixed;
	width: auto;
    min-width: 100%;
	border-collapse: collapse;
    text-align: left;
}

.ant-table-scroll{
	overflow: auto;
    overflow-x: hidden;
}

.ant-table-header{
    background: none;
    overflow: auto;
}

.ant-table-tbody > tr > td{
	border: none;
}

.ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body{
	background: none;
    margin-top: 17px;
	color: #9bb5cc;
}

.ant-table-body::-webkit-scrollbar{	
	width: 8px;
    height: 8px;
}
.ant-table-body::-webkit-scrollbar-thumb{
	background: #273754;
    border-radius: 6px;
}
.ant-table-body::-webkit-scrollbar-track{
	background: #273754;
}
.ant-table-body::-webkit-scrollbar-button{
	background: #273754;
}
.ant-table-body::-webkit-scrollbar-corner{
	background: #273754;
}

.ant-table-thead > tr > th{
	background: none;
	color: #9bb5cc;
	border: none;
}